# dl
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113 ; sys_platform != 'darwin'
torch==1.12.1 ; sys_platform == 'darwin'
datasets
transformers
evaluate
accelerate

# data
numpy
pandas
scikit-learn

# utils
typer
torchinfo
neptune-client<1.0.0
nlpaug
rouge_score
bert_score
unbabel-comet
nltk
