# dl
torch>=2.0.0
datasets
transformers
evaluate
accelerate

# data
numpy
pandas
scikit-learn

# utils
typer
torchinfo
neptune-client<1.0.0
nlpaug
rouge_score
bert_score
# unbabel-comet
nltk
#git+https://github.com/google-research/bleurt.git